.card {
    width: 500px;
    background-color: black;
    color: white;
    padding: 15px;
    border: 0.5px solid rgb(83, 100, 113);
}

.card button {
    color: white;
}

.extra {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.extra button {
    margin-top: auto;
    margin-bottom: auto;
}

.attachment-image {
    width: 250px;
    height: 250px;
    border-radius: 16px;
}

.body {
    display: flex;
    flex-direction: column; /* vertical */
    gap: 8px;
}

.name-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 15px;
    line-height: 17px;

    .tag {
        color: rgb(113, 118, 123);
    }

    .fullname {
        font-weight: bold;
    }

    .fullname:hover {
        text-decoration: underline;
    }
}

.body-content {
    padding-left: 46px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}