body {
    margin: 0px;
    background-color: black;
}

.animate {
    animation: 0.5s fadein;
}

.fadeout {
    animation: 0.5s fadeout;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}